<div class="container mt-5 mtt">
  <div class="row">
    <div class="container mb-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card">
            <img
              src="{{url}}assets/noAvatar.png"
              style="height: 100%;"
              alt=""
            />
          </div>
        </div>

        <div class="col-lg-8">
          <div class="row">
            <div class="card">
              {{#if userProfile}}
                <h3 class="poster-page-title">Foydalanuvchi haqida ma'lumot</h3>
                <h1
                  class="poster-page-amount mb-5"
                >{{userProfile.username}}</h1>
                <h4>Qo'shimcha ma'lumotlar</h4>
                <hr />
                <div>
                  <h5 class="">Username:
                    <small
                      class="text-primary"
                    >{{userProfile.username}}</small></h5>
                  <h5 class="">Telefon:
                    <small
                      class="text-primary"
                    >{{userProfile.phone}}</small></h5>

                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <p>ID: {{userProfile._id}} </p>
                  <p>E'lonlar soni: {{userProfile.posters.length}}</p>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
        {{#if isMe}}
          <a
            href="/profile/change"
            class="btn mt-3 btn-success"
          >O'zgartirish</a>

        {{/if}}
      </div>
    </div>
  </div>
</div>

<div class="card text-white bg-primary my-5 py-4 text-center">
  <div class="card-body"><p
      class="text-white m-0 last-posters"
    >Foydalanuvchining oxirgi e'lonlari</p></div>
</div>

<div class="container">
  <!-- Page Features-->
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        {{#if posters}}
          {{#each posters}}
            <div class="col-lg-3 mb-3">
              <div class="card">
                <a href="/posters/{{_id}}"><img
                    src="{{url}}/{{image}}"
                    class="card-img-top img-poster"
                    alt=""
                  /></a>
                <div class="card-body">
                  <div class="poster-title-cont">
                    <a href="#" class="poster-link"><span
                        class="card-title poster-title poster-link"
                      >{{title}}</span></a>
                  </div>
                  <p class="card-text" style="margin: 0">{{region}}</p>
                  <p class="card-text">- {{formatDate createdAt}}</p>
                  <h5 class="card-subtitle mb-2">{{amount}} SO'M</h5>
                </div>
              </div>
            </div>
          {{/each}}
        {{else}}
          <h2>Hali e'lonlar kiritilmagan</h2>
        {{/if}}
      </div>
    </div>
  </div>
</div>