<script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>

<div class="container mtt">
  <div class="row">
    <div class="col-lg-12">
      <div class="card p-4 mb-5">
        {{#if poster}}
          <form action="/posters/{{poster._id}}/edit" method="POST">
            <div class="mb-3">
              <label for="title" class="form-label">E'lon sarlavhasi</label>
              <input
                type="text"
                class="form-control"
                placeholder="Noutbuk Acer"
                id="text"
                name="title"
                value="{{poster.title}}"
              />
            </div>
            <div class="mb-3">
              <label for="amount" class="form-label">Narxi (so'mda)</label>
              <input
                type="number"
                class="form-control"
                placeholder="500 000"
                id="amount"
                name="amount"
                value="{{poster.amount}}"
              />
            </div>
            <div class="mb-3">
              <label for="region" class="form-label">Kategoriya</label>
              <select
                class="form-select"
                id="region"
                aria-label="Default select example"
                name="category"
              >
                <option selected disabled>Kategoriyani tanlang</option>
                <option value="realty">Ko'chmas mulk</option>
                <option value="transport">Transport</option>
                <option value="electronics">Elektronika</option>
                <option value="jobs">Ish o'rinlari</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="region" class="form-label">Hudud</label>
              <select
                class="form-select"
                id="region"
                aria-label="Default select example"
                name="region"
              >
                <option selected>Hududni tanlang</option>
                <option value="Toshkent">Toshkent</option>
                <option value="Qarshi">Qarshi</option>
                <option value="Buxoro">Buxoro</option>
                <option value="Navoiy">Navoiy</option>
                <option value="Andijon">Andijon</option>
                <option value="Namangan">Namangan</option>
                <option value="Farg'ona">Farg'ona</option>
                <option value="Guliston">Guliston</option>
                <option value="Termiz">Termiz</option>
                <option value="Samarqand">Samarqand</option>
                <option value="Xorazm">Xorazm</option>
                <option value="Nukus">Nukus</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Rasm tanlang</label>
              <input
                class="form-control"
                type="file"
                id="image"
                name="image"
                value="uploads/{{poster.image}}"
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Tarif</label>
              <textarea
                name="description"
                id="description"
              >{{poster.description}}</textarea>
              <script>
                CKEDITOR.replace( 'description' );
              </script>
            </div>
            <div class="d-grid gap-2">
              <button
                type="submit"
                class="btn btn-primary"
              >O'zgartirish</button>
            </div>
          </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>